<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h2>Associations</h2>
<p>For questions regarding usage as an association please contact: <a href="mailto:association@example.com">
association@example.com</a></p>

<h2>Students</h2>
<p>For questions regarding usage as a student please contact: <a href="mailto:student@example.com">
student@example.com</a></p>

<h2>Others</h2>
<p>For questions regarding other than listed above please contact: <a href="mailto:info@example.com">
info@example.com</a></p>