<div class="center hero-unit">
  <h1>Welcome to the Association forum on LiU</h1>

  <h2 class="center">
  	Do you want to get involved?
  </h2>

<p>
  	This page allows all student associations at LiU to post adds for vacant spots in their organisation. So now students can find out what possibilities they have to get involved without having to look at all associations individualy.
 </p>

</div>
