<%= provide(:title, 'All associations') %>
<h1>All associations</h1>
<%= will_paginate %>
<ul class="associations">
  <% @associations.each do |association| %>
    <li>
      <%= link_to association.name, association %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>